$primary-color: #12CBC4;
$accent-color: #9980FA;
$success-color: #009432;
$error-color: #EA2027;
$warning-color: #ffa502;
$light-grey-color: #dfe6e9;
$dark-grey-color: #2d3436;

$accent-color-dark: darken($accent-color, 3%) !default;

/******************* LIB IMPORTS *****************/
@import '~spectre.css/src/spectre.scss';
@import '~spectre.css/src/spectre-exp.scss';
@import '~spectre.css/src/spectre-icons.scss';