@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply font-bodoni font-[800] text-black;
  }

  h5,
  h6 {
    @apply font-bodoni font-[400] text-black;
  }

  .container-x-padding {
    @apply px-8 md:px-16 lg:px-24 3xl:px-64 4xl:px-64;
  }

  #editor > p {
    @apply text-gray-700;
  }

  #tippy-1 {
    @apply h-8;
  }

  #tippy-2 {
    @apply h-8;
  }

  html {
    scroll-behavior: smooth;
  }

  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-3xl;
  }

  body {
    @apply bg-white;
    @apply font-manrope;
    @apply tracking-wide;
  }

  .image-background {
    @apply absolute h-full w-full animate-pulse bg-slate-200;
  }

  .rich-text-copy {
    @apply w-full text-lg leading-[1.9rem];
  }

  .animated-underline {
    @apply text-xl block relative;
    overflow: hidden;
  }

  .animated-underline::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: black;
    transition:
      opacity 400ms,
      transform 400ms;

    opacity: 1;
    transform: translate3d(-100%, 0, 0);
  }

  .animated-underline-pink::after {
    background-color: #edb8b8;
  }

  .animated-underline:hover::after,
  .animated-underline:focus::after {
    transform: translate3d(0, 0, 0);
  }

  /* Animated Filters */
  .animated-filter {
    @apply text-base block relative;
    overflow: hidden;
  }

  .animated-filter.active {
    @apply text-white bg-black px-6 py-3;
  }

  .animated-filter::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: black;
    transition:
      opacity 400ms,
      transform 400ms;

    opacity: 1;
    transform: translate3d(-100%, 0, 0);
  }

  .animated-filter:hover::after,
  .animated-filter:focus::after {
    transform: translate3d(0, 0, 0);
  }

  .btn {
    @apply uppercase whitespace-nowrap cursor-pointer tracking-[0.35em] text-white text-sm bg-black px-6 py-3;
  }

  /* Home Page */
  .home-page-project {
    @apply mt-24;
  }

  /* Project */
  .project-section {
    @apply py-16 lg:py-24;
  }

  .project-section.no-vertical-padding {
    @apply lg:py-0 last:pb-16;
  }

  .project-container {
    @apply w-screen px-8 lg:px-0 lg:w-[820px] lg:max-w-[820px] mx-auto;
  }

  .contacts-link {
    @apply bg-black h-8 w-8 lg:h-10 lg:w-10 flex justify-center items-center rounded-full px-1 md:px-0;
  }

  .contacts-link-icon {
    @apply hover:animate-wiggle h-8 w-8 lg:h-14 lg:w-14 text-white;
  }
}

@media screen and (min-width: 768px) {
  #slider-shadow {
    box-shadow: inset 0px 0px 105px 38px #000000;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 1.5rem;
  height: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

#burger-menu > focus {
  outline: none;
}

#burger-menu > div {
  width: 1.5rem;
  height: 0.25rem;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

#burger-menu > div:first-child {
  transform: rotate(0);
}

#burger-menu > div:first-child.open {
  transform: rotate(45deg);
}

#burger-menu > div:nth-child(2) {
  transform: translateX(0);
  opacity: 1;
}

#burger-menu > div:nth-child(2).open {
  transform: translateX(20px);
  opacity: 0;
}

#burger-menu > div:nth-child(3) {
  transform: rotate(0);
}

#burger-menu > div:nth-child(3).open {
  transform: rotate(-45deg);
}

@media screen and (min-width: 768px) {
  #burger-menu {
    width: 2rem;
    height: 2rem;
  }

  #burger-menu > div {
    width: 2rem;
    height: 0.25rem;
  }
}
