name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  DATABASE_URL: placeholder
  SANITY_API_READ_TOKEN: placeholder
  DRAFT_MODE_SECRET_TOKEN: placeholder
  PROJECT_PASSWORD_COOKIE_SECRET: placeholder
  REBUILD_PROJECTS_INDEX_API_KEY: placeholder
  NEXT_PUBLIC_SANITY_PROJECT_ID: placeholder
  NEXT_PUBLIC_SANITY_DATASET: placeholder
  NEXT_PUBLIC_SANITY_API_VERSION: placeholder
  NEXT_PUBLIC_ENVIRONMENT: local
  NEXT_PUBLIC_BASE_URL: placeholder
  NEXT_PUBLIC_GOOGLE_ANALYTICS_ID: placeholder

jobs:
  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"
      - name: Install dependencies
        run: npm install
      - name: Generate db types
        run: npm run db:generate
      - name: Run typecheck
        run: npm run typecheck

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"
      - name: Install dependencies
        run: npm install
      - name: Run lint
        run: npm run lint

  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"
      - name: Install dependencies
        run: npm install
      - name: Run prettier
        run: npm run format:check

  deploy-main:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    needs: [typecheck, lint, format]
    steps:
      - name: Deploy main
        run: |
          curl -X POST https://api.vercel.com/v1/integrations/deploy/${{ secrets.VERCEL_DEPLOYMENT_TOKEN }}/${{ secrets.VERCEL_PROJECT_ID }}
